body {
    background-repeat: repeat;
    background-size:cover;
    background-image:url('Pictures/background.jpg');
   // overflow-x: hidden;
   // overflow-y: hidden;

}

.grid {
    //margin:1em auto;
    border-collapse:collapse;



}
.grid td {
    cursor:pointer;
    width:30px;
    height:30px;

    background-repeat: no-repeat;
    background-size:cover;

    //text-align:center;
    //font-family:sans-serif; font-size:13px
}
#visibleGrid td {
    border:1px solid #ccc;
}

#visibleGridDiv {
    background-repeat: no-repeat;
    background-size:cover;
    background-image:url('Pictures/gridBackground.jpeg');
}


.gridDiv {
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#rightDiv {
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    -ms-transform: translateX(300px) translateY(-50%);
    -webkit-transform: translateX(300px) translateY(-50%);
    transform: translateX(300px) translateY(-50%);
}

#invisibleGrid td{
    border: 1px solid rgba(255, 0, 0, 0);
}

#invisibleGrid td.clicked {
 //   background-color:yellow;
  //  font-weight:bold;
  //  color:red;
  //  opacity: 100;
}

table {
    table-layout: fixed;
    width:600px;
}

#masterContainer {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}